
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="card-body" #GradeForm="ngForm"  (ngSubmit)="onSubmit(GradeForm)">

          <h4 class="card-title mb-4" *ngIf="isAddMode">Create New Grade</h4>
          <h4 class="card-title mb-4" *ngIf="!isAddMode">Edit {{GradeInput.value}}</h4>
            <div class="row mb-4">
              <label for="value" class="col-form-label col-lg-2" >Vlaue</label>
                <div class="col-lg-10">
                <input id="value"
                name="value" type="text" class="form-control"
                  placeholder="Enter Grade Value..." [disabled]="IsInterviewer"
                  [(ngModel)]="GradeInput.value">
              </div>
            </div>
            <div class="row col-6 mb-4">

              <div class="col-lg-6 col-md-6" >
                <button
                type="submit"
                class="btn btn-primary"
                >{{ isAddMode ? "Create Grade" : "Edit Grade" }}</button>
              </div>
            </div>

            <div class="row col-8">

              <div  class="col-lg-12 col-md-12">

                <button class="btn btn-info" *ngIf="!IsUser"
                [routerLink]="['/grade/listGrade']"
                routerLinkActive="active" style="color:wheat">

                  <i class="bx bx-arrow-back"></i> Back To List
                </button>
              </div>
            </div>


        </form>
      </div>
    </div>
  </div>

<!-- </ng-template> -->

<!-- end row -->

<!-- container-fluid -->



