<div class="container-fluid">
  <!-- <h1 *ngIf="isAddMode">Add New Round<h1>
  <h1 *ngIf="!isAddMode">Edit Round <h1> -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <form class="card-body" #roundForm="ngForm"  (ngSubmit)="onSubmit(roundForm)">
          <h4 class="card-title mb-4">Create New Round</h4>

            <div class="row mb-4">
              <label for="roundName" class="col-form-label col-lg-2" >Name</label>
                <div class="col-lg-10">
                <input id="roundName"
                name="roundName" type="text" class="form-control"
                  placeholder="Enter Round Name..."
                  [(ngModel)]="roundInput.roundName">
              </div>
            </div>




            <div class="row mb-4">
              <label class="col-form-label col-lg-2">Start Date (mm/dd/yyyy)</label>
              <div class="col-lg-10">

                <input   class="form-control"
                name="startDate" placeholder="Start Date"
                type="date" name="startDate" #startDate="ngModel"
                [(ngModel)]="roundInput.startDate" />
              </div>
            </div>

            <div class="row mb-4">
              <label class="col-form-label col-lg-2">End Date (mm/dd/yyyy)</label>
              <div class="col-lg-10">

                <input type="Date"  class="form-control" name="endDate"
                #endDate="ngModel"
                [(ngModel)]="roundInput.endDate" >

              </div>
            </div>


            <div class="row mb-4">
              <label class="col-form-label col-lg-2">Start Admission (mm/dd/yyyy)</label>
              <div class="col-lg-10">

                <input   class="form-control"
                name="startAdmission" placeholder="Start Admission"
                type="date" #startAdmission="ngModel"
                [(ngModel)]="roundInput.startAdmission" />
              </div>
            </div>

            <div class="row mb-4">
              <label class="col-form-label col-lg-2">End Admission(mm/dd/yyyy)</label>
              <div class="col-lg-10">

                <input type="Date"  class="form-control" name="endAdmission"
                #endAdmission="ngModel"
                [(ngModel)]="roundInput.endAdmission" >

              </div>
            </div>

            <!-- <div class="row mb-4">
              <label for="adminId" class="col-form-label col-lg-2" >Admin</label>
                <div class="col-lg-10">
                <input id="adminId"
                name="adminId" type="text" class="form-control"
                  placeholder="Enter Admin Name..."
                  [(ngModel)]="roundInput.adminId">
              </div>
            </div> -->


          <div class="row justify-content-end">
            <div class="col-lg-10" >
              <button
              type="submit"
              class="btn btn-primary"
              >{{ isAddMode ? "Create Round" : "Edit Round" }}</button>
            </div>
          </div>

          <div class="row col-8">

            <div  class="col-lg-12 col-md-12">

              <button class="btn btn-info"
              [routerLink]="['/round/listRound']"
              routerLinkActive="active" style="color:wheat">

                <i class="bx bx-arrow-back"></i> Back To List
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- </ng-template> -->

<!-- end row -->

<!-- container-fluid -->



