#kaitech{
  lighting-color: Blue;
  color:linear-gradient(diagonally, rgb(69, 53, 174), rgb(68, 193, 79));
  display:inline-flexbox;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
