<!-- <p>round-list works!</p>
<div class="container">
  <div class="row">
    <a>
      <button [routerLink]="['/round/detailsRound']">Details</button>
    </a>


  </div>

</div> -->

<div class="container-fluid">
  <!-- <app-page-title title="Projects List" ></app-page-title> -->

  <div class="row">
    <div class="col-lg-12">
        <!--! search  -->
         <div class="col-sm-4">
          <div class="search-box me-2 mb-2 d-inline">
            <div class="position-relative">
              <!-- <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term"> -->
              <input type="text" name="searchText" class="form-control"
                     placeholder="Search..." [(ngModel)]="searchText">
              <i class="bx bx-search-alt search-icon"></i>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4">
          <div class="search-box me-2 mb-2 d-inline">
            <div class="position-relative">
              <input type="text" name="searchText" class="form-control" placeholder="Project Name" [(ngModel)]="searchName">
            </div>
          </div>
        </div> -->


          <!--! -------- -->


          <!-- ! Filter-->

          <!-- <div class="row">
            <div class="col-4 d-inline-block">
                <label>Round</label>
                <select
                id="roundName"
                name="roundName"
                 class="form-select"
                [(ngModel)]="roundId"
              >
                  <option value="0" selected>Round Name</option>
                  <option  *ngFor="let round of selectRounds"
                  [ngValue]="round.id">
                    {{round.roundName}}
                  </option>
                </select>
            </div> -->

          <!-- <div class="col-3 d-inline-block">
              <label >Round StartDate</label>
              <input type="date" id="startDate" class="form-control"
              [(ngModel)]="startDate">
          </div>
    </div>

        <div class="btn-group btn-group-example mb-3" role="group">
              <button type="button" class="btn btn-primary w-xs mt-2" (click)="FilterRounds()" >

              Search<i class="bx bx-search-alt search-icon"></i></button>
              <button type="button" class="btn btn-danger w-xs mt-2" (click)="Reset()">
              Reset  </button>
        </div>
      </div> -->

          <!--!-->
      <div class>
        <a
        class="btn btn-outline-primary mb-3"
        [routerLink]="['/round/createRound']"
        routerLinkActive="active" *ngIf="!IsInterviewer && !IsUser && LoginedIn">
          Create Round
        </a>

        <div class="table-responsive">
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 100px">Round</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Start admission Date</th>
                <th scope="col">End admission Date</th>
                <th scope="col" *ngIf="!IsInterviewer && !IsUser && LoginedIn">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let displine of selectRounds | search:searchText " > -->
                <tr *ngFor="let round of selectRounds" >
                <td>
                  <h5 class="text-truncate font-size-14" >
                    <a href="javascript: void(0);" class="text-dark"
                    routerLinkActive="active"
                    [routerLink]="['/round/detailsRound',round.id]"
                    >{{round.roundName}}</a>
                  </h5>

                  <!--
                      [routerLink]="['/overview', proj.id]"
                   -->
                </td>
                <td>{{round.startDate| date:'dd/MM/yyyy'}}</td>
                <td>{{round.endDate | date:'dd/MM/yyyy'}}</td>
                <td>{{round.startAdmission | date:'dd/MM/yyyy'}}</td>
                <td>{{round.endAdmission | date:'dd/MM/yyyy'}}</td>

                <td *ngIf="!IsInterviewer && !IsUser && LoginedIn">

                      <a
                      [routerLink]="['/round/edit',round.id]"
                      routerLinkActive="active" style="margin-left:2% ;"
                      ><i class="fa fa-marker text-success"></i> Edit</a>

                      <a
                      type="button"
                      style="cursor: pointer;" style="margin-right:2% ;"
                      (click) =onDeleteRound(round.id)>
                      <i class="fa fa-trash text-danger"></i> Delete</a>

                </td>
              </tr>
            </tbody>
          </table>

          <!-- <app-pagination
            [total-items]="Counter"
            [page-size]="_pageSize"
            (page-changed)="onPageChange($event)"
          ></app-pagination> -->

        </div>
      </div>
    </div>


  <!-- end row -->

  <!-- <div class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success">
          <i class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more
        </a>
      </div>
    </div> -->
    <!-- end col-->
<!-- </div> -->
  <!-- end row -->
<!-- </div> -->


